.container{
    overflow-x: hidden;
}
.inner{
/* max-width: 1200px; */
margin: 0 auto;
overflow-x: hidden;
background-color: #E3E1F4;
}

.heroText{
    font-family: THICCCBOI;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.heroText h2{
    font-family: THICCCBOI BOLD;
    font-size: 2rem;
}

.heroText p{
    width: 100%;
    text-align: center;
    width: 400px;
    margin-top: 20px;
}

.slant{
    width: 100vw;
    object-fit: cover;
    /* height: 100px; */
    background-color: #E3E1F4;
}
/* .outerContainer{
    background-color: white;
} */

.buttons{
    display: flex;
    width: 400px;    
    align-items: center;
    justify-content: center;
}

.buttons button{
    background-color: white;
    border-radius: 30px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    margin: 20px;
    font-family: THICCCBOI;
    transition: all 0.3s;
}

.buttons button:hover{
        background-color: #2d256a;
        color: white;
}

button img{
    margin-left: 5px;
    object-fit: contain;
    width: 14px;
    height: 14px;
}


@media screen and (max-width:600px) {
    .heroText p{
        width: 90vw;
    }
}