.container{
    background-color:transparent;
}

.inner{
    margin:  auto;
    font-family: THICCCBOI;
}

.sectionOne h2{
    font-family: THICCCBOI BOLD;
}

.sectionOne{
    display: flex;
    flex-direction: column; 
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.sectionOne .cards{
    background-image: url('../../public/backgroundslideblue.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    margin-top: 50px;
    width:70%;
    margin: 0 auto;
    margin-top: 50px;
}

.sectionOne .cards div{
    box-shadow: 4px 3px 15px 4px lightgray;
    width: 40%;
    border-radius: 10px;
    text-align: start;
    padding: 20px;
    background-color: white;
}

.sectionOne .cards div p{
    color:#C5C5C5;
}

.sectionOne .cards div h4{
    font-family: THICCCBOI BOLD;
    margin-bottom: 10px;
}

.sectionTwo{
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.sectionTwo .heading{
    background-color:#F3F5FF;
    display: inline;
    padding: 10px;
    border-radius: 20px;
    color:#5335D9;
    align-self: flex-start;
    margin-bottom: 50px;
    margin-left: 5vw;
    
}

.sectionTwo .subHeading{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.sectionTwo .subHeading h2{
    font-size: 2.5rem;
    font-family: THICCCBOI BOLD;
    width: 500px;
    text-align: start;
}

.subHeading .right{
    display: flex;
    background-color: #F3F5FF;
    padding: 10px;
    border-radius: 30pc;
}

.swiperContainer{
    margin-top: 100px;
    height: 500px;
    background-image: url('../../public/backgroundslideblue.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* width:90vw; */
}

.slideContainer{
    /* border: 1px solid red; */
    margin-top: 50px;
    width:100px;
    height:300px;
    box-shadow: 0px 4px 5px 4px lightgray;
    padding: 20px;
    border-radius: 20px;
    text-align: start;
    background-color: white;
   transition: all .3s;
   z-index: 100000;
}

.slideContainer:hover{
    transform: scale(1.1);
}

.slideContent{
    color: #7A7D9C;
    margin-top: -10px;
}

.slideTop{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.slideTop h4{
    font-family: THICCCBOI BOLD;
    font-size: 1rem;
    text-align: center;
}

.slideTop img{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.slideTop p{
    text-align: start;
}

.mobileSwiperContainer{
    display: none;
}


@media screen and (max-width:1450px) {
    .sectionTwo .subHeading{
        padding-left: 80px;
        padding-right: 80px;   
    }
}
@media screen and (max-width:1300px) {
    .sectionTwo .subHeading{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:600px) {
    
    .inner{
        max-width: 90vw;
    }
    .sectionOne .cards{
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .sectionOne .cards div{
        width: 100%;
        margin: 30px;
        border: 1px solid;
    }

    .sectionTwo{
        width: 90vw;
    }

    .swiperContainer{
        display: none;
    }
    .mobileSwiperContainer{
        display: block;
        margin-top: 100px;
    }
    .slideContainer{
        width: 100px;
        border: 1px solid;
    }
    .sectionTwo .subHeading{
        flex-direction: column;
    }
    .sectionTwo .subHeading h2{
        width: 90vw;
        text-align: center;
        margin-bottom: 50px;
    }
}