.container{
    background-color: white;
    padding-top: 100px;
    height: fit-content;
}

.inner{
    display:flex;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.left{
    font-family: THICCCBOI;
    /* flex: 1.5; */
    height: 100%;
    width: 500px;
}

.left p{
    color: #7A7D9C;
    text-align: start;
    margin-bottom: 20px;
}

.left h2{
    font-size: 2rem;
    font-family: THICCCBOI BOLD;
    text-align: start;
    margin-bottom: 20px;
}

.left button{
    font-family: 'THICCCBOI';
    background-color: #5F51C2;
    color:white;
    border: none;
    border-radius: 20px;
    padding: 7px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    transition:all 0.3s
}

.left button:hover{
    background-color: #27205b;
}
.right{
 /* flex: 1.5;    */
 height: 100%;
 /* width: 100%; */
 width: 500px;
}

.right img{
    height: 600px;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width:1450px) {
    .inner{
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media screen and (max-width:1300px) {
    .inner{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:600px) {
    .inner{
        flex-direction: column;
        width: 90vw;
    }
    .right{
     width: 100%;   
    }
    .left{
        width: 100%;
    }
    .inner{
        padding-left: 0px;
        padding-right: 0px;
    }
}

